$wrapper-background: #f1f2f3;
$messenger-background: #ffffff;
$primary-color: #4b5155;
$status-green-color: #76c00d;
$status-yellow-color: #ffb400;

$border-color: rgba(0, 0, 0, 0.05);

$danger-color: #e74c3c;