$wrapper-background: #f1f2f3;
$messenger-background: #ffffff;
$chat-window-background: #f4f5f8;
$own-chat-text-background: #afbbc6;
$partner-chat-text-background: #ffffff;
$search-background : #f9fafc;
$primary-color: #4b5155;
$profession-color: #7b8793;
$partner-chat-text-color: #7b8793;
$chanel-text-color: #7b8793;
$search-color: #afbbc6;
$status-green-color: #76c00d;
$status-yellow-color: #ffb400;
$status-grey-color: #afbbc6;
$border-radius: 20px;
$border-color: #dbe5ed;



$danger-color: #e74c3c;