@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap';
@import './variable.scss';

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: $primary-color;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app-messenger {
    padding: 120px 80px 130px 80px;
    background: $wrapper-background;
    @media (max-width: $breakpoint-mini-desktop) {
        padding: 40px;
    }
    @media (max-width: $breakpoint-tablet) {
        padding: 30px
    }
    @media (max-width: $breakpoint-mobile) {
        padding: 10px;
    }
    .main {
        display: flex;
        height: 100%;
        overflow: hidden;
        padding: 20px 15px 20px 40px;
        background: $messenger-background;
        border-radius: $border-radius;
        @media (max-width: $breakpoint-mini-desktop) {
            padding: 20px;
        }
        @media (max-width: $breakpoint-mobile) {
            flex-direction: column;
        }
        .sidebar-left {
            max-width: 20%;
            flex: 0 0 20%;
            padding-right: 40px;
            @media (max-width: $breakpoint-mini-desktop) {
                max-width: 40%;
                flex: 0 0 40%;
                padding: 20px;
            }
            @media (max-width: $breakpoint-mobile) {
                max-width: 100%;
                flex: 0 0 100%;
                padding-right: 0;
                order: 0;
            }
            .logo {
                padding-bottom: 15px;
                border-bottom: 1px solid $border-color;
            }
            .user-bar {
                display: flex;
                align-items: center;
                margin: 30px 0px;
                .profile-data {
                    padding-left: 15px;
                    flex-grow: 1;
                    .name-settings {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .name {
                            font-size: 18px;
                            font-weight: 500;
                        }
                        .settings {
                            cursor: pointer;
                        }
                    }
                    .profession {
                        font-size: 12px;
                        color: $profession-color;
                    }
                    .status {
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        span {
                            margin-right: 5px;
                        }
                        &.green {
                            color: $status-green-color;
                        }
                        &.yellow {
                            color: $status-yellow-color;
                        }
                        &.grey {
                            background: $status-grey-color;
                        }
                    }
                }
                .profile-image {
                    position: relative;
                    img {
                        width: 74px;
                        height: 74px;
                        border-radius: 50%;
                    }
                    .status {
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        display: inline-block;
                        border: 3px solid #ffffff;
                        position: absolute;
                        bottom: 10px;
                        right: 7px;
                        &.green {
                            background: $status-green-color;
                        }
                        &.yellow {
                            background: $status-yellow-color;
                        }
                        &.grey {
                            background: $status-grey-color;
                        }
                    }
                }
            }
        }
        .content {
            max-width: 70%;
            flex: 0 0 70%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            border-radius: $border-radius;
            border: 2px solid $border-color;
            background: $chat-window-background;
            @media (max-width: $breakpoint-mini-desktop) {
                max-width: 50%;
                flex: 0 0 50%;
                padding: 20px;
            }
            @media (max-width: $breakpoint-mobile) {
                max-width: 100%;
                flex: 0 0 100%;
                order: 2;
            }
            .messages-title {
                padding: 30px;
                border-bottom: 2px solid $border-color;
                .title {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            .messages {
                flex-grow: 1;
                padding-top: 20px;
            }
            .messenger-input {
                margin: 10px 15px;
                .text-input {
                    position: relative;
                    input {
                        width: 100%;
                        padding: 25px 90px 25px 20px;
                        border-radius: 50px;
                        border: 1px solid $border-color;
                        color: $chanel-text-color;
                        outline: none;
                        font-size: 14px;
                    }
                    input::placeholder {
                        color: $search-color;
                    }
                    .actions {
                        display: inline-flex;
                        position: absolute;
                        bottom: 0;
                        top: 0;
                        right: 7px;
                        button.send {
                            background: transparent;
                            border: none;
                            margin-left: 7px;
                            cursor: pointer;
                        }
                        button.smile {
                            background: transparent;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .sidebar-right {
            max-width: 10%;
            flex: 0 0 10%;
            @media (max-width: $breakpoint-mobile) {
                max-width: 100%;
                flex: 0 0 100%;
                order: 1;
            }
            .chanel-image {
                text-align: center;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
            h2.title {
                font-size: 14px;
                font-weight: 500;
                text-align: center;
            }
        }
        
    }
} 

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    @media (max-width: $breakpoint-mobile) {
        height: 500px;
    }
    .message {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px 15px;
        .message-user-image {
            margin-right: 20px;
        }
        .message-body {
            .message-text {
                background: $partner-chat-text-background;
                color: $partner-chat-text-color;
                padding: 15px 20px;
                border-radius: $border-radius;
                p {
                    font-weight: 400;
                    size: 14px;
                }
            }
        }
        &.me {
            flex-direction: row-reverse;
            justify-content: flex-start;
            .message-user-image {
                margin-left: 20px;
                margin-right: 0px;
            }
            .message-body {
                .message-text {
                    background: $own-chat-text-background;
                    color: #ffffff;
                }
            }
        }
    }
}

.chanels-title-addchanel {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    .addchanel {
        width: 24px;
        height: 24px;
        text-align: center;
        background: #dbe5ed33;
        cursor: pointer;
    }
    .chanels-title {
        font-weight: 500;
        font-size: 16px;
    }
}
.search {
    margin-bottom: 15px;
    input {
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid $border-color;
        background: $search-background;
        font-size: 14px;
        color: $search-color;
        outline: none;
    }
    input::placeholder {
        color: $search-color;
    }
}

.chanels {
    height: 500px;
    overflow: auto;
    .channel {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 10px;
        margin-bottom: 10px;
        &:hover {
            border: 1px solid $border-color;
        }
        .user-image {
            width: 50px;
            display: inline-block;
            position: relative;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .status {
                height: 16px;
                width: 16px;
                border-radius: 50%;
                display: inline-block;
                border: 3px solid #ffffff;
                position: absolute;
                bottom: 6px;
                right: 3px;
                &.green {
                    background: $status-green-color;
                }
                &.yellow {
                    background: $status-yellow-color;
                }
                &.grey {
                    background: $status-grey-color;
                }
            }
        }
        .chanel-info {
            flex-grow: 1;
            margin-left: 10px;
            h2 {
                font-size:16px;
                font-weight: 500;
            }
            p {
                font-size: 12px;
                color: $chanel-text-color;
                &.typing {
                    font-style: italic;
                }
            }
        }
        .time {
            font-size:12px;
            color:$chanel-text-color;
        }
        .number-message {
            font-size: 12px;
            background-color: $status-green-color;
            padding: 5px;
            border-radius: 50%;
            line-height:1;
            width:20px;
            height:20px;
            text-align: center;
            font-weight: 500;
            color: #ffffff;
        }
        &.new-message {
            border: 1px solid $border-color;
            background: $search-background;
            border-radius: 10px;
        }
        &.active {
            border: 1px solid $border-color;
            background: $search-background;
            border-radius: 10px;
        }
    }
}

.members {
    display: flex;
    flex-direction: column;
    @media (max-width: $breakpoint-mobile) {
        max-width: 100%;
        flex: 0 0 100%;
        flex-direction: row;
        justify-content: center;
    }
    .member {
        text-align: center;
        .user-image {
            display: inline-block;
            position: relative;
            img {
                width: 44px;
                height: 44px;
                border-radius: 50%;
            }
            .status {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                display: inline-block;
                border: 2px solid #ffffff;
                position: absolute;
                bottom: 6px;
                right: 3px;
                &.green {
                    background: $status-green-color;
                }
                &.yellow {
                    background: $status-yellow-color;
                }
                &.grey {
                    background: $status-grey-color;
                }
            }
        }
    }
}